<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f8f9fa;
        }
        .navbar {
            background-color: #000080;
        }
        .navbar-brand, .nav-link {
            color: white;
            font-size: 18px;
            font-weight: bold;
        }
        .nav-link:hover {
            color: #f0f0f0;
        }
        .container {
            margin-top: 30px;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="/">债券数据分析系统</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/home">首页</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/visualize">数据可视化</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/kdj">KDJ图展示</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/query">查询</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/report">债券情况报告</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/comment">交流评论</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
</body>
</html>